:root{
    --heading: 'Lato';
    --paragraph: 'Saira';
    --background-color1: #1e588f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    font-family: var(--heading);
    text-align: center;
    font-size: 24px;
}
p, a, span{
    font-family: var(--paragraph);
}
img{
    width: 11rem;
}
/*header*/
header{
    background-color: var(--background-color1);
}
header span{
    height: 4rem;
    width: 100%;
    padding: 1.3rem;
    display: block;
    text-align: center;
}
nav{
    display: flex;
    height: 3rem;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav a:hover{
    font-size: 18px;
}
/*main*/
main{
    max-width: 2000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}
main h1{
    grid-column: 1 / span2;
}
main .card{
    border: 1px solid black;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
}
section div{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section h2:nth-child(1){
    background-color: var(--background-color1);
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section div p{
    width: 60%;
    padding: 1%;
}
.card ul{
    font-size: 18px;
    padding-left: 15%;
    padding-top: 25%;
}
/*footer*/
footer{
    background-color: var(--background-color1);
    height: 3.7rem;
    text-align: center;
}